*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background: rgb(255, 255, 255);
}

nav{
    padding: 5px;
    background-color: black;
    height: fit-content;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li{
    padding: 10px;
    margin: 5px;
}

.logo img{
    padding: 0;
    margin: 0;
    height: 120px;
    width: 240px;
}

.Logo_button{
    padding: 10px;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.content_container{
    width: 97%;
    height: 100%;
    margin: 0px auto;
    padding: 15px;
    /* background: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(3px); */
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6); */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.character{
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    /* text-align: center; */
    /* justify-content: center; */
}

.content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.c1{
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
}

.c4{
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.desc{
    justify-content: center;
}

.name{
    color: rgb(255, 255, 255);
    text-shadow:rgb(60, 60, 60) 2px 2px 3px;
    font-size: 35px;
    margin: 10px;
    padding: 5px;
}

.info{
    color: rgb(255, 255, 255);
    text-shadow:rgb(60, 60, 60) 1px 1px 5px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
}

img{
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 150px;
}

.main_picture img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

#main_picture{
    grid-column: 1/4;
    grid-row: 1/2;
}

.AD {
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}

#AD_Desc{
    background-color: antiquewhite;
    grid-column: 4;
    grid-row: 1;
}

#Finn {
    background-color: rgb(251,205,184);
    border: rgb(194, 159, 142) solid 5px;
    grid-column: 1/3;
    grid-row: 2;
}

#Jake {
    background-color: rgb(231, 183, 87);
    border: rgb(176, 143, 72) solid 5px;
    grid-column: 3;
    grid-row: 2;
    }

#PB {
    background-color: rgb(237,199,219);
    border: rgb(182, 154, 169) solid 5px;
    grid-column: 1;
    grid-row: 3;
}

#BMO {
    background-color: rgb(175,218,184);
    border: rgb(131, 161, 138) solid 5px;
    grid-column: 2/4;
    grid-row: 3;
}

#IceKing {
    background-color: rgb(152,215,246);
    border: rgb(101, 145, 167) solid 5px;
    grid-column: 4;
    grid-row: 2/4;
}

@media (max-width: 1400px) {
    .container {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #Finn, #Jake, #PB, #BMO{
        grid-column: span 1;
        grid-row: auto;
    }

    #IceKing{
        grid-column: 2;
        grid-row: 1/3; 
    }  

    .content {
        padding: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px){
    .container {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    #Finn, #Jake, #PB, #BMO{
        grid-column: span 1;
        grid-row: auto;
    }

    #IceKing{
        display: flex;
        flex-direction: row;
        grid-column: 1/3;
        grid-row: 3; 
    }

    .content {
        padding: 5px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .c1, .c4, .c2 ,.c3{
        flex-direction: column;
        text-align: center;
    }

    .c5 .name{
        text-align: left;
    }
}

@media (max-width: 800px){
    .container {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .content {
        padding: 5px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .c1, .c4, .c2 ,.c3, .c5{
        flex-direction: column;
        text-align: center;
    }

    .c5 .name{
        text-align: center;
    }

    #Finn, #Jake, #PB, #BMO, #IceKing{
        grid-column: span 1;
        grid-row: auto;
    }
}