*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif ;
    transition:all 0.5s ease;
}

body{
    background-color: hsl(0, 0%, 12%);
}

/* Navigation bar */
nav{
    padding: 10px;
    background-color: hsl(0, 0%, 12%);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-container{
    margin: 20px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav ul li{
    display: inline;
    padding: 10px 15px;
}
nav ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}
nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: hsl(80, 100%, 36%);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
nav ul li a:hover::after{
    width: 100%;
    left: 0;
    transform: translateX(0%);
}
nav ul li a:hover{
    color: hsl(64, 100%, 50%);
}
.logo{
    padding: 5px;
    margin-left: 30px;
}
.navbrand {
    text-decoration: none;
    font-size: 2.5rem;
    color: #ffffff;
}
.navbrand:hover {
    transform: scale(1.1);
}

/* main section */
.main-container{
    margin-top: 50px;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.main-image{
    border-radius: 30px;
    width: 450px;
    height: 600px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.intro h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
}
.intro h2{
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}
.intro button{
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    cursor: pointer;
}
.intro button:hover{
    background-color: hsl(83, 100%, 20%);
    transform: scale(1.1);
}
.intro button:hover a{
    color: hsl(0, 0%, 100%);
}
.intro button a{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: 600;
}

/* About section */
.about{
    padding: 20px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    padding: 10px;
}
.title{
    margin-bottom: 100px;
}
.title, .par{
    padding: 20px;
}

.par{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.title h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.par p{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.par #a-span{
    color: hsl(209, 83%, 67%);
}

.par #b-span{
    color: hsl(117, 59%, 36%);
}

/* My Projects */
.projects{
    padding: 10px;

}

.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 200px;
    padding: 10px;
}

@keyframes scrollDown {
    from { transform: translateY(-50%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes scrollUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-50%); opacity: 0; }
}

.fade-in {
    animation: scrollDown 0.5s ease-out;
}

.fade-out {
    animation: scrollUp 0.3s ease-out forwards;
}

.projects-title h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.hidden-project {
    display: none;
}

.project{
    padding: 30px;
    border: solid 2px hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    cursor: pointer;
}

.project:hover{
    transform: scale(1.08);
    border: solid 2px hsl(80, 100%, 36%);
    background-color: hsl(0, 0%, 100%);
}

.project:hover h2{
    color: hsl(0, 0%, 12%);

}

.project h2{
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.project img{
    width: 300px;
    height: 200px;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8{
    grid-column: auto;
    grid-row: auto;
}

#p9, #p10{
    grid-column: 1/4;
    grid-row: auto;

}

/* Socials */
.socials{
    padding: 20px;
}

.socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
    padding: 10px;
}

.socials-container h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.socials-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.socials-icons img:hover{
    transform: scale(1.1);
}

.socials-icons img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* Contacts */
.contacts{
    padding: 20px;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
}

.contact-title h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.contact-form{
    padding: 20px;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-item{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px hsl(0, 0%, 100%);
    gap: 10px;
}

.contact-item p{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
}

.contact-item a{
    font-size: 1.5rem;
    color: hsl(209, 83%, 67%);
    text-decoration: underline;
}

/* FAQ */
.FAQ{
    padding: 20px;
}

.faq-container{
    gap: 50px;
    margin-top: 200px;
    padding: 50px
}

.faq-title{
    padding: 20px;
    margin-bottom: 20px;
}

.faq-title h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.faq-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.faq{
    padding: 20px;
    border: solid 1px hsl(0, 0%, 100%);
    background-color: hsl(0, 1%, 30%);
}

.faq h2{
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom: 20px;
}

.faq p{
    display: block;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    transition: opacity 0.5s, visibility 0.5s;

}

.faq:hover p {
    visibility: visible;
    opacity: 1;
}

/* Footer */
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 50px;
}

.footer-container p{
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
